<div class="content-section min-h-[100vh] flex justify-center items-center">
    <div class="grid grid-cols-1 sm:grid-cols-12 md:grid-cols-12 lg:grid-cols-12">
        <div class="col-span-9 flex items-center justify-center">
            <p-carousel #carouse [value]="skillList" [numVisible]="3" [numScroll]="3" [responsiveOptions]="responsiveOptions">
                <ng-template pTemplate="item" let-skill>
                
                    <div class="grid grid-cols-12 card-skill">
                        <span class="col-span-12 flex justify-center mt-2 text-[16px]">{{ skill.header }}</span>
                        <ng-content *ngFor="let item of skill.programming">
                            <div class="col-span-4 mt-3">
                                <img class="skill-logo" src="{{item.image}}" alt="">
                            </div>
                        </ng-content>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
        <div class="col-span-9 flex items-center justify-center">
            <ng-container *ngFor="let skill of skillList">
                <div class="grid grid-cols-12 cardProgram">
                    <span class="col-span-12 flex justify-center mt-2 text-[16px]">{{ skill.header }}</span>
                    <ng-content *ngFor="let item of skill.programming">
                        <div class="col-span-4 mt-3">
                            <img class="skill-logo" src="{{item.image}}" alt="">
                        </div>
                    </ng-content>
                </div>
            </ng-container>
        </div>
    </div>
</div>