.example-spacer {
  flex: 1 1 auto;
}

span {
    color: var(--color-dark);
}

.mat-toolbar-row, .mat-toolbar-single-row {
    background: radial-gradient(circle at center, var(--color-aqua-gray) 0%, var(--color-steel-blue) 45%, var(--color-primary) 100%);
    color: var(--color-primary-light);
    height: 80px;
    span {
        color: var(--color-primary-light);
    }
}

.img-logo {
    width: 70px;
}

.menu-bar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    top: 0;
    position: fixed;
    left: 0px;
    z-index: 99 !important;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    transition: var(--transition);
}

li { cursor: pointer }

li:hover { 
  color: var(--color-light-beige);
  text-decoration: none;
}

.p-menubar {
    background: radial-gradient(circle at center, var(--color-aqua-gray) 0%, var(--color-steel-blue) 45%, var(--color-primary) 100%);
    border: 1px solid var(--color-primary);
    color: var(--color-primary-light);
    height: 80px;
    span {
        color: var(--color-primary-light);
    }
}