<div class="menu-bar">

  <p-menubar>
    <ng-template #start>
      <img src="assets/logo.png" alt="Wilaiwan" class="img-logo rounded-full">
    </ng-template>
    <ng-template #end>
        <div class="bar flex-none">
      <ul class="hidden lg:flex px-1 gap-8 py-4">
        <li class="about" (click)="scrollToSection('aboutMe')">About me</li>
        <li class="skill" (click)="scrollToSection('skillTool')">Skill & Tools</li>
        <li class="project">Project</li>
        <li class="experience">Experience</li>
        <li class="contact">Contact</li>
      </ul>
    </div>
    </ng-template>
</p-menubar>
</div>

