<div class="menu-bar">
  <mat-toolbar>
    <img src="assets/logo.png" alt="Wilaiwan" class="img-logo rounded-full">
    <span class="example-spacer"></span>
    
    <div class="bar flex-none">
      <ul class="hidden lg:flex px-1 gap-8 py-4">
        <li class="about" (click)="onNavigate('aboutMe')">About me</li>
        <li class="skill" (click)="onNavigate('skill-tools')">Skill & Tools</li>
        <li class="project">Project</li>
        <li class="experience">Experience</li>
        <li class="contact">Contact</li>
      </ul>
    </div>
  </mat-toolbar>
</div>

