<div class="menu-bar">

  <p-menubar>
    <ng-template #start>
      <img src="assets/logo.png" alt="Wilaiwan" class="img-logo rounded-full">
    </ng-template>
    <ng-template #end>
        <div class="bar flex-none">
      <ul class="hidden lg:flex px-1 gap-8 py-4">
        <li (click)="scrollToSection('aboutMe')">About me</li>
        <li (click)="scrollToSection('skillTool')">Skill & Tools</li>
        <li (click)="scrollToSection('experience')">Experience</li>
        <li (click)="scrollToSection('project')">Project</li>
        <li (click)="scrollToSection('education')">Education</li>
        <li (click)="scrollToSection('contact')">Contact</li>
      </ul>
    </div>
    </ng-template>
</p-menubar>
</div>

